
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isCaregiver(userId) {
      // Allow if the user is a caregiver for the given userId
      return isSignedIn() && get(/databases/$(database)/documents/users/$(userId)).data.caregiverIds.hasAny([request.auth.uid]);
    }
    
    function isAuthorizedCaregiverForLocation(userId) {
        let locationData = get(/databases/$(database)/documents/users/$(userId)/emergencyLocation/latest).data;
        return isSignedIn() && locationData.caregiverIds.hasAny([request.auth.uid]);
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /caregivers/{caregiverId} {
        allow read, write: if isOwner(userId);
      }
      match /dailyTasks/{dailyTaskId} {
        allow read, write: if isOwner(userId);
      }
      match /medications/{medicationId} {
        allow read, write: if isOwner(userId);
      }
      match /memoryJournalEntries/{memoryJournalEntryId} {
        allow read, write: if isOwner(userId);
      }
      match /safeZones/{safeZoneId} {
        allow read, write: if isOwner(userId);
      }
      match /emergencyContacts/{emergencyContactId} {
        allow read, write: if isOwner(userId);
      }
      match /moodEntries/{moodEntryId} {
        allow read, write: if isOwner(userId);
      }
      
      match /emergencyLocation/{locationId} {
        allow create, update: if isOwner(userId);
        // A caregiver can only read the location
        allow get: if isOwner(userId) || isAuthorizedCaregiverForLocation(userId);
        allow list: if isOwner(userId);
      }
    }
  }
}
    